<head>
    <title> {{ .Title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    {{with .Description }}<meta name="description" content="{{ . }}">{{end}}
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}css/main.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Rock+Salt">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <!-- Icons -->
    <link rel="shortcut icon" href="{{ .Site.BaseUrl }}/favicon.png">
    <!-- RSS -->
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
    <!-- Scripts -->
    <script src="{{ .Site.BaseUrl }}js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
</head>
