<!doctype html>
<html class="no-js" lang="en">
{{ partial "head.html" . }}

<body lang="en">
{{ partial "header.html" . }}

<div class="posts">
    {{ range first 10 .Data.Pages }}
    <div class="post">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ .Content }}
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}
</body>
</html>
