<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body lang="en">
{{ partial "header.html" . }}

<div class="content container">
    <ul class="posts">
        {{ range .Data.Pages }}
        <li>
            <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span>
        </li>
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}
</body>
</html>
