<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body lang="en">
{{ partial "header.html" . }}

<div class="content container">
    <div class="post">
        <h1>{{ .Title }}</h1>
        <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ .Content }}
    </div>
</div>


{{ partial "footer.html" . }}
</body>
</html>
